html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333333;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

a:not([class]) {
  color: #3c8a78;
  border-bottom: 1px solid;
  text-decoration: none;
  -webkit-transition: border-bottom 0.25s;
  transition: border-bottom 0.25s;
}

a:not([class]):hover {
  border-color: transparent;
}

.site-title {
  margin-bottom: 60px;
  font-size: 72px;
}

@media (max-width: 1024px) {
  .site-title {
    margin-bottom: 47px;
    font-size: 62px;
  }
}

@media (max-width: 550px) {
  .site-title {
    margin-bottom: 27px;
    font-size: 45px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1190px;
}

.green-btn {
  padding: 13px 35px 13px 50px;
  margin: 20px 0 20px auto;
  display: block;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #3c8a78;
  background-image: url(/img/pencil_ico.png);
  background-repeat: no-repeat;
  background-position: 19px 11px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  outline: none;
  cursor: pointer;
}

.green-btn:hover {
  background-color: #aba6a6;
}

.link-ico {
  padding-left: 25px;
  font-size: 15px;
  font-weight: 500;
  color: #3c8a78;
  background-image: url("/img/link_ico.png");
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.3s ease-out, padding 0.3s;
  transition: opacity 0.3s ease-out, padding 0.3s;
}

.link-ico--w {
  background-image: url("/img/link_ico_w.png");
}

.link-ico:hover {
  padding-left: 27px;
  opacity: 0.7;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow::before {
  content: '';
  padding: 5px;
  margin-right: 11px;
  display: inline-block;
  border: solid #3c8a78;
  border-width: 0 4px 4px 0;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  position: absolute;
  top: 0;
  lefT: 0;
  width: 100%;
  z-index: 9;
}

.title {
  margin-bottom: 60px;
}

.title__h2 {
  font-size: 72px;
}

@media (max-width: 1024px) {
  .title__h2 {
    font-size: 62px;
  }
}

@media (max-width: 550px) {
  .title__h2 {
    font-size: 45px;
  }
}

.title__h2.arrow::before {
  margin-right: 25px;
  border-width: 0 5px 5px 0;
}

@media (max-width: 550px) {
  .title__h2.arrow::before {
    margin-right: 10px;
  }
}

.title__sub-title {
  font-size: 24px;
  max-width: 600px;
}

@media (max-width: 1024px) {
  .title__sub-title {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .title__sub-title {
    font-size: 16px;
  }
}

@media (max-width: 870px) {
  .title {
    margin-bottom: 45px;
  }
}

@media (max-width: 405px) {
  .title {
    margin-bottom: 27px;
  }
}

.main-nav {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 450px) {
  .main-nav .logo img {
    width: 55px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 43px;
}

.menu__item.active > .menu__link {
  color: #ffffff;
}

.menu__item:last-child {
  margin-right: 0;
}

@media (max-width: 970px) {
  .menu__item {
    margin-right: 25px;
  }
}

.menu__link {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #92a9be;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.menu__link:hover {
  color: #ffffff;
}

@media (max-width: 895px) {
  .menu {
    display: none;
  }
}

.phone {
  margin-top: -35px;
}

.phone__switch {
  margin-bottom: 10px;
  text-align: right;
}

.phone__link {
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  opacity: 0.4;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.phone__link:last-child {
  margin-right: 0;
}

.phone__link:hover {
  opacity: 1;
}

.phone__link.active {
  opacity: 1;
}

.phone__number {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.phone__number:hover {
  opacity: 0.82;
}

.phone__number:hover .phone__icon {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

@media (max-width: 350px) {
  .phone__number {
    font-size: 19px;
  }
}

.phone__icon {
  margin-right: 10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("/img/phone-ico.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3c8a78;
  -webkit-box-shadow: 1px 1px 1px #2c5048;
          box-shadow: 1px 1px 1px #2c5048;
  -webkit-animation: bounceHeader 0.3s;
          animation: bounceHeader 0.3s;
  z-index: 999;
}

.sticky .main-nav {
  padding: 0;
}

.sticky .logo > img {
  padding: 5px 0;
  width: 50px;
}

.sticky .menu__link {
  color: #fff;
}

.sticky .menu__item.active > .menu__link {
  color: #333333;
}

.sticky .phone {
  margin-top: -10px;
}

.sticky .phone__switch {
  margin-bottom: 0;
}

.sticky .phone__number {
  font-size: 22px;
}

@media (max-width: 350px) {
  .sticky .phone__number {
    font-size: 19px;
  }
}

@-webkit-keyframes bounceHeader {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounceHeader {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.promo {
  position: relative;
  height: 980px;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-color: #40454b;
  background-size: 100%;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

.promo .container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media (max-width: 840px) {
  .promo .container {
    padding: 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.promo__wrapper {
  max-width: 630px;
}

@media (max-width: 900px) {
  .promo__wrapper {
    margin-top: 60px;
  }
}

@media (max-width: 840px) {
  .promo__wrapper {
    margin-top: 300px;
    margin-bottom: 40px;
    max-width: 100%;
  }
}

.promo__title {
  position: relative;
  padding-left: 30px;
  font-size: 90px;
  line-height: 0.95;
  text-transform: uppercase;
}

.promo__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 100%;
  background-color: #3c8a78;
}

@media (max-width: 530px) {
  .promo__title::before .promo__title::before {
    width: 8px;
  }
}

@media (max-width: 900px) {
  .promo__title {
    font-size: 60px;
  }
}

@media (max-width: 530px) {
  .promo__title {
    font-size: 45px;
  }
}

@media (max-width: 380px) {
  .promo__title {
    padding-left: 15px;
    font-size: 35px;
  }
}

.promo__subtitle {
  margin-top: 24px;
  font-size: 24px;
}

@media (max-width: 600px) {
  .promo__subtitle {
    font-size: 18px;
  }
}

.promo__links {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
}

@media (max-width: 1165px) {
  .promo__links {
    bottom: 5%;
  }
}

@media (max-width: 840px) {
  .promo__links {
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
  }
}

.promo .promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo .promo-list__item {
  width: 20%;
}

@media (max-width: 840px) {
  .promo .promo-list__item {
    margin-bottom: 8px;
    width: 100%;
  }
}

.promo .promo-list__link {
  position: relative;
  padding: 33px 20px;
  display: block;
  color: #fff;
  background-color: rgba(63, 77, 96, 0.45);
}

.promo .promo-list__link:hover > .promo-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 990px) {
  .promo .promo-list__link {
    padding: 33px 5px;
  }
}

@media (max-width: 840px) {
  .promo .promo-list__link {
    padding: 20px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .promo .promo-list__link {
    padding: 13px 19px;
  }
}

.promo .promo-list .link-ico {
  width: 160px;
  color: #fff;
}

@media (max-width: 420px) {
  .promo .promo-list .link-ico {
    width: auto;
    font-size: 12px;
  }
}

.promo .promo-list__title {
  margin-bottom: 7px;
  font-size: 20px;
}

@media (max-width: 990px) {
  .promo .promo-list__title {
    font-size: 17px;
  }
}

@media (max-width: 840px) {
  .promo .promo-list__title {
    margin-bottom: 0;
  }
}

@media (max-width: 420px) {
  .promo .promo-list__title {
    font-size: 14px;
  }
}

.promo .promo-list__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 20px;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3c8a78;
}

@media (max-width: 840px) {
  .promo .promo-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1165px) {
  .promo {
    height: 630px;
  }
}

@media (max-width: 900px) {
  .promo {
    background-size: cover;
  }
}

@media (max-width: 840px) {
  .promo {
    height: auto;
  }
}

.video {
  position: absolute;
  top: -100px;
  left: 0;
}

@media (max-width: 900px) {
  .video {
    display: none;
  }
}

.main-news {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 34px 70px 47px 40px;
  font-size: 24px;
  background-color: #3c8a78;
  -webkit-box-shadow: 0px 0px 2px #3c3c3c;
          box-shadow: 0px 0px 2px #3c3c3c;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.main-news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-news__content {
  margin-left: 45px;
  max-width: 400px;
}

@media (max-width: 1165px) {
  .main-news__content {
    margin-left: 0;
    max-width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .main-news__content {
    font-size: 12px;
  }
}

.main-news__title {
  margin-bottom: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1165px) {
  .main-news__title {
    margin-bottom: 8px;
    font-size: 20px;
  }
}

@media (max-width: 1165px) {
  .main-news__img {
    display: none;
  }
}

.main-news__date {
  text-transform: uppercase;
}

.main-news__description {
  margin-bottom: 20px;
}

@media (max-width: 1165px) {
  .main-news__description {
    margin-bottom: 8px;
  }
}

.main-news__link {
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1165px) {
  .main-news__link {
    text-transform: none;
  }
}

@media (max-width: 1280px) {
  .main-news {
    padding: 22px 9px 25px 40px;
  }
}

@media (max-width: 1165px) {
  .main-news {
    top: 115px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .main-news {
    padding: 12px 9px 12px 20px;
  }
}

.structure {
  padding: 65px 0 90px;
}

.structure__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 905px) {
  .structure__wrapper {
    margin-bottom: -50px;
  }
}

.structure__item {
  width: 25%;
}

@media (max-width: 905px) {
  .structure__item {
    margin-bottom: 50px;
    width: 48%;
  }
}

@media (max-width: 360px) {
  .structure__item {
    margin-bottom: 25px;
    width: 100%;
  }
}

.structure__title {
  margin-bottom: 24px;
  font-size: 24px;
}

@media (max-width: 470px) {
  .structure__title {
    margin-bottom: 21px;
    font-size: 20px;
  }
}

.structure__text {
  margin-bottom: 22px;
}

.bic-inform {
  padding: 125px 0 60px;
  background-color: #e4e5e7;
}

.bic-inform__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bic-inform__left {
  width: 52%;
}

@media (max-width: 1024px) {
  .bic-inform__left {
    width: 100%;
  }
}

.bic-inform__right {
  width: 40%;
}

@media (max-width: 750px) {
  .bic-inform__right {
    display: none;
  }
}

.bic-inform__links {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bic-inform__link {
  padding: 10px;
  margin-right: 30px;
  min-width: 180px;
  max-width: 180px;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.bic-inform__link:nth-child(1) {
  background-color: #bcc1c9;
}

.bic-inform__link:nth-child(2) {
  background-color: #8daabd;
}

.bic-inform__link:nth-child(3) {
  background-color: #3c8a78;
}

.bic-inform__link:last-child {
  margin-right: 0;
}

.bic-inform__link:hover {
  opacity: 0.8;
}

@media (max-width: 950px) {
  .bic-inform__link {
    min-width: 130px;
    max-width: 130px;
    height: 130px;
    font-size: 14px;
  }
}

@media (max-width: 779px) {
  .bic-inform__link {
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

.bic-inform__adress {
  padding-left: 30px;
  margin-top: 55px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 28px;
  background-image: url("../img/adress_ico.png");
  background-repeat: no-repeat;
}

.bic-inform__phone {
  padding-left: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  background-image: url("../img/phone_ico_green.png");
  background-repeat: no-repeat;
  background-position: left center;
}

@media (max-width: 950px) {
  .bic-inform {
    padding: 45px 0;
  }
}

@media (max-width: 750px) {
  .bic-inform {
    background-image: url(/img/bvs6_bg.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 93% 95%;
  }
}

.bic-tec__wrapper {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bic-tec__wrapper .title {
  margin-bottom: 0;
}

@media (max-width: 960px) {
  .bic-tec__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bic-tec__decription {
  margin-top: 50px;
  width: 60%;
}

.bic-tec__decription__big-text {
  margin-bottom: 24px;
  font-size: 1.5em;
}

@media (max-width: 960px) {
  .bic-tec__decription {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .bic-tec__decription {
    margin-top: 15px;
  }
}

.bic-tec__big-text {
  margin-bottom: 24px;
  font-size: 1.5em;
}

.bic-tec__list {
  padding-left: 0;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 960px) {
  .bic-tec__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bic-tec__item {
  width: 25%;
}

@media (max-width: 960px) {
  .bic-tec__item {
    margin-bottom: 15px;
    width: 35%;
  }
}

@media (max-width: 560px) {
  .bic-tec__item {
    width: 50%;
  }
}

.bic-tec__img {
  margin: 0 auto 8px;
}

.bic-tec__text {
  font-size: 1.3em;
  text-align: center;
}

@media (max-width: 960px) {
  .bic-tec__text {
    font-size: 1.1em;
  }
}

.cctvlens {
  padding: 70px 0 40px;
  background-color: #f3f2f2;
}

.cctvlens .title {
  margin: 0 auto 60px;
  max-width: 600px;
}

.cctvlens__buttons {
  margin-bottom: 45px;
  text-align: center;
}

@media (max-width: 560px) {
  .cctvlens__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.cctvlens__tab-btn {
  padding: 8px 35px;
  margin-right: 20px;
  min-width: 190px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px dotted #b7bfc9;
  border-radius: 30px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  outline: 0;
  cursor: pointer;
}

.cctvlens__tab-btn.active, .cctvlens__tab-btn:hover {
  background-color: #3c8a78;
  color: #fff;
  border-color: #3c8a78;
}

.cctvlens__tab-btn:last-child {
  margin-right: 0;
}

@media (max-width: 880px) {
  .cctvlens__tab-btn {
    min-width: auto;
  }
}

@media (max-width: 560px) {
  .cctvlens__tab-btn {
    margin-right: 0;
    margin-bottom: 10px;
    width: 45%;
  }
}

.cctvlens__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .cctvlens__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cctvlens__left {
  width: 40%;
}

.cctvlens__left img {
  margin: auto;
}

.cctvlens__right {
  width: 52%;
}

@media (max-width: 500px) {
  .cctvlens__right {
    width: 100%;
  }
}

.cctvlens__sub-title {
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.cctvlens__btn {
  margin-top: 25px;
  display: inline-block;
  padding: 8px 35px;
  font-weight: 500;
  color: #a0a9b3;
  border: 2px solid #b3bcc7;
  border-radius: 30px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.cctvlens__btn:hover {
  background-color: #3c8a78;
  color: #fff;
  border-color: #3c8a78;
}

@media (max-width: 950px) {
  .cctvlens {
    padding: 45px 0;
  }
}

.bic-video {
  padding: 70px 0 90px;
}

.bic-video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bic-video__left {
  width: 55%;
}

@media (max-width: 940px) {
  .bic-video__left {
    width: 100%;
  }
}

.bic-video__right {
  margin-top: 35px;
  width: 37%;
}

@media (max-width: 940px) {
  .bic-video__right {
    width: 100%;
  }
}

.bic-video__catalog {
  padding: 60px 45px;
  background-color: #f3f2f2;
}

@media (max-width: 940px) {
  .bic-video__catalog {
    padding: 20px 15px;
  }
}

.bic-video__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bic-video__item {
  width: 33.33%;
}

@media (max-width: 560px) {
  .bic-video__item {
    width: 48%;
  }
}

.bic-video__box {
  display: block;
  margin-top: 60px;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.bic-video__box:hover {
  opacity: 0.8;
}

@media (max-width: 940px) {
  .bic-video__box {
    margin-top: 30px;
    margin-right: 10px;
    display: inline-block;
    width: 310px;
  }
}

@media (max-width: 700px) {
  .bic-video__box {
    margin-top: 15px;
    width: 250px;
  }
}

.bic-video__link {
  padding: 20px 0;
  display: block;
  font-weight: 500;
  color: #3c8a78;
  text-align: center;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: opacity 0.3s, filter 0.3s;
  transition: opacity 0.3s, filter 0.3s, -webkit-filter 0.3s;
}

.bic-video__link img {
  margin: 0 auto 15px auto;
}

.bic-video__link:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.bic-video__catalog-link {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
}

.bic-video__catalog-link.arrow::before {
  -webkit-transition: margin-right 0.25s;
  transition: margin-right 0.25s;
}

.bic-video__catalog-link.arrow:hover::before {
  margin-right: 14px;
}

@media (max-width: 950px) {
  .bic-video {
    padding: 45px 0;
  }
}

.service {
  padding: 90px 0 155px;
  background-color: #f3f2f2;
}

.service__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__left {
  width: 40%;
}

@media (max-width: 990px) {
  .service__left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.service__right {
  width: 55%;
}

@media (max-width: 990px) {
  .service__right {
    margin-bottom: 35px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.service__text {
  font-size: 18px;
}

.service__list {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__item {
  width: 25%;
  text-align: center;
}

.service__item img {
  margin: 0 auto 30px auto;
}

.service__item p {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .service__item {
    width: 48%;
  }
}

@media (max-width: 950px) {
  .service {
    padding: 45px 0;
  }
}

.service-form {
  position: relative;
  padding: 50px 43px 43px 50px;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #3c8a78;
  border-radius: 3px;
}

.service-form__title {
  margin-bottom: 35px;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
}

.service-form__input {
  padding: 14px 17px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #449985;
  border: 0;
  border-radius: 3px;
  outline: 0;
  color: #ffff;
}

.service-form__input::-webkit-input-placeholder {
  color: #64d1b7;
}

.service-form__input:-ms-input-placeholder {
  color: #64d1b7;
}

.service-form__input::-ms-input-placeholder {
  color: #64d1b7;
}

.service-form__input::placeholder {
  color: #64d1b7;
}

.service-form__input:last-child {
  margin-bottom: 40px;
}

.service-form__input:focus {
  background-color: #f7f7f7;
  color: #333;
}

.service-form__btn {
  padding: 7px 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.service-form__btn:hover {
  background-color: #449985;
}

@media (max-width: 990px) {
  .service-form {
    display: none;
    padding: 25px 30px;
    margin: 0 auto;
    max-width: 90%;
  }
}

@media (min-width: 990px) {
  .showModal {
    display: none;
  }
}

@media (max-width: 990px) {
  .showModal {
    margin-bottom: 20px;
  }
}

.partners {
  padding: 70px 0;
}

.partners .site-title {
  margin-bottom: 95px;
}

.partners__list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__item {
  margin-bottom: 40px;
  width: 20%;
}

.partners__item img {
  margin: auto;
}

@media (max-width: 890px) {
  .partners__item {
    width: 33%;
  }
}

@media (max-width: 570px) {
  .partners__item {
    width: 50%;
  }
}

.partners__btn {
  padding: 8px 35px;
  margin: auto;
  display: block;
  color: #a0a9b3;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  border: 2px dotted #b7bfc9;
  border-radius: 30px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  outline: none;
  cursor: pointer;
}

.partners__btn:hover {
  background-color: #3c8a78;
  color: #fff;
  border-color: #3c8a78;
}

.partners__btn:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}

@media (max-width: 950px) {
  .partners {
    padding: 45px 0;
  }
}

.vacancy {
  padding: 0px 0 45px;
}

.vacancy__text {
  max-width: 880px;
}

.vacancy__text p {
  margin-bottom: 20px;
}

.vacancy__price {
  margin-right: 70px;
  font-size: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #1a8c78;
}

.vacancy__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #3c8a78;
}

.accordion__btn {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d5dee4;
  cursor: pointer;
}

.accordion__btn.active {
  border-color: transparent;
}

.accordion__btn.active .accordion__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion__title {
  margin-bottom: 15px;
  font-size: 28px;
}

@media (max-width: 550px) {
  .accordion__title {
    font-size: 24px;
  }
}

.accordion__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion__arrow {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.accordion__panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion__panel ul {
  margin: 7px 0;
  list-style: none;
}

.accordion__wrapper {
  max-width: 900px;
}

.news {
  padding: 45px 0;
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 630px) {
  .news__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__left, .news__right {
  width: 47%;
}

@media (max-width: 630px) {
  .news__left, .news__right {
    width: 100%;
  }
}

.news__btn {
  padding: 20px 27px;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.news__btn:hover {
  background-color: #f9f9f9;
}

@media (max-width: 370px) {
  .news__btn {
    padding: 13px 19px;
  }
}

.news__btn.active {
  border-color: #278f8e;
}

.news__image {
  margin-bottom: 15px;
}

.news__title {
  margin-bottom: 30px;
  font-size: 27px;
  line-height: 1.2;
}

@media (max-width: 750px) {
  .news__title {
    font-size: 22px;
  }
}

.news__date {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
}

.news__date a {
  border-bottom: 0;
}

.news__text p {
  margin-bottom: 8px;
}

.subscribe .sp-form {
  margin: 0;
}

.contacts {
  padding: 45px 0 60px;
}

.contacts .accordion__btn.active + .accordion__panel {
  padding-bottom: 25px;
  border-bottom: 1px solid #d5dee4;
}

.contacts__map {
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  background-color: #ccc;
}

.contacts__info .work-days td:first-child {
  width: 70px;
}

.contacts__info a {
  color: #333333;
  border-bottom: none;
}

.contacts__info a:hover {
  opacity: 0.7;
}

.contacts__info span {
  font-weight: 500;
}

.footer {
  padding: 35px 0 38px;
  background-color: #333333;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__links .link-ico {
  margin-right: 50px;
}

.footer__links .link-ico:hover {
  padding-left: 25px;
}

@media (max-width: 930px) {
  .footer__links .link-ico {
    margin-right: 20px;
  }
}

.upBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #3c8a78;
  color: #fff;
  border: 0;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: .3s;
  transition: .3s;
}

.upBtn:hover {
  background: #e9ebec;
}

.hide, .no-display {
  display: none;
}

.timing-form,
.timing-form a {
  color: #fff;
  font-weight: 500;
  line-height: 23px;
}

.goodSubmit {
  padding: 50px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 500;
  position: absolute;
  background-color: #3c8a78;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

.ymaps-2-1-77-map-copyrights-promo {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1.4;
  color: #15284e;
}

@media (max-width: 500px) {
  .table td {
    padding: 5px 2px;
    font-size: 12px;
  }
}

.table tr:hover {
  background-color: #efefef;
}

.table-first {
  text-align: center;
}

.table-first td {
  font-weight: 600;
  padding: 10px 2px;
}

.table-first td span {
  display: block;
}

.table-first td:first-child {
  text-align: left;
  text-transform: uppercase;
}

.table-first:hover {
  background-color: transparent !important;
}

.table-body {
  text-align: center;
}

.table-body td {
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.table-body td:first-child {
  text-align: left;
}

.table-body td:last-of-type {
  border-right: 0;
}

.table-title {
  background-color: #ededed;
  text-align: left;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */